[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = false
max_line_length = 80

[*.{c,h,tup}]
indent_style = tab
indent_size = 4

[{README,LICENSE}]
indent_style = space
indent_size = 2
